@model Course

<div class="card mt-3" id="kurs_@Model.Id">
    <div class="row">
        <div class="col-md-4">
            <!-- Display course image -->
            <img src="~/img/@Model.Image" class="img-fluid rounded-start" width="200" alt="" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id">
                    <!-- Display course title -->
                    <h5 class="card-title"> @Model.Title</h5>
                </a>
                <!-- Display course description -->
                <p class="card-text"> @Model.Description</p>
            </div>
        </div>
    </div>
</div>