@model Course
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>Course Index Page</h1>
    <p>Course ID: @Model.Id</p>
    <p>Course Name: @Model.Title</p>
</body>
</html>
